.App {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.counter-wrapper {
  padding: 40px;
  background-color: lightgrey;
  border-radius: 0.5rem;
}
.counter-display-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gold;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.counter-btn {
  font-size: small;
}
.count {
  font-size: 50px;
  font-weight: 600;
}

.change-colour-green {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: rgba(77, 193, 154, 0.742);
}

.change-colour-red {
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 3px;
  background-color: red;
  padding: 10px 15px;
}
